@use '../global' as *;

.btn--primary {
	align-items: center;
	background-color: $primary;
	border-radius: 50px;
	color: $white;
	display: flex;
	flex-direction: row;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	justify-content: center;
	letter-spacing: -0.03em;
	line-height: 21px;
	padding: 12px 20px;
	src: url('../fonts/WorkSans-Medium.woff');
}
