@use '../global' as *;

.input-field {
	background-color: $white;
	border: 1px solid $gray !important;
	border-radius: 16px !important;
	padding: 16px !important;
	transition: ease-in-out 0.4s border;

	&:focus {
		border: 2px solid $primary !important;
	}
}

input[type="checkbox"] {
	appearance: none !important;
	background-color: $white;
	border: 1px solid $white;
	border-radius: 4px;
	box-shadow: inset 0 0 0 2px $white;
	flex-shrink: 0;
	height: 20px;
	margin: 0;
	margin-right: 1rem !important;
	outline: none;
	width: 20px;

	&:checked {
		background-color: $primary;
	}
}

.ff-el-group {
	.ff-el-form-check {
		.ff_tc_checkbox {
			padding-top: 0 !important;
		}
	
		.ff-el-form-check-label {
			align-items: center;
			display: flex;
		}
	}
}
