@use '../global' as *;

.hp-hero {
	&__title {
		width: 32rem;

		@include breakpoint(small) {
			width: auto;
		}
	}

	&__card {
		background-color: $white;
		border-radius: 24px;
		padding: 32px;

		&__timestamp {
			border: 2px solid $white-dark;
			border-radius: 50%;
			box-sizing: border-box;
			height: 12px;
			padding: 4px;
			width: 12px;
            
			&--open {
				background-color: $lime-green;
			}

			&--closed {
				background-color: $red;
			}
		}
	}

	&__img {
		border-radius: 150px;
		height: 100%;
		overflow: hidden;

		@include breakpoint(small) {
			border-radius: 150px;
		}
	}
}

.hero-bg {
	background: linear-gradient(180deg, rgba(40, 50, 46, 0) 0%, rgba(40, 50, 46, 0.2) 100%);
	opacity: 0.02;
}
