@use '../global' as *;

.scroll-icon {
	background: $layer-1;
	border-radius: 50%;
	height: 80px;
	width: 80px;
}

.services-hero {
	&__img {
		border-radius: 200px;
		overflow: hidden;
	}

	&__card {
		background: $layer-1;
		border-radius: 24px;
		padding: 16px;
	}
}

.services-prices-wrap {
	background-color: $white;
	border-radius: 76px;
	@include breakpoint(small) {
		border-radius: 32px;
	}

	&__img {
		border-radius: 64px;
		overflow: hidden;
		@include breakpoint(small) {
			border-radius: 48px;
		}
	}
}
